.titulo {
  margin-top: 10px;
  margin-left: 20px;
  font-family: "Kodchasan", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 16px;
  color: #435440;

  @media screen and (min-width: 1280px) {
    font-size: 25px;
    margin-left: 0;
  }
}


.cronometro {
  display: flex;
  flex-direction: column;
  align-items: center;

  .relogioWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: calc(100% - 40px);
    height: 102px;
    margin-top: 20px;
    gap: 12px;
    background-color: #5E7859;
    border-radius: 10px;
    box-sizing: border-box;
    font-size: 5rem;

    @media screen and (min-width: 1280px) {
      width: 100%;
      height: 232px;
      margin: 25px 30px;
      gap: 20px;
    }
  }


  button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: calc(100% - 40px);
    height: 38px;
    margin-top: 12px;
    padding: 16px;
    background-color: #CA3E34;
    border: none;
    border-radius: 10px;
    box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.4);
    color: #F4F4F4;
    cursor: pointer;
    font-size: 16px;

    &:active {
      box-shadow: 2px 2px 4px #0000009F inset;
      cursor: auto;
    }

    @media screen and (min-width: 1280px) {
      font-size: 25px;
      width: 100%;
      height: 56px;
      margin-top: 25px;
    }
  }
}